/* *  border: 1px solid black;
} { */


body {
  font-family: Arial, sans-serif;
  line-height: 2;
  padding: 20px;
}

header {
  background-color: lightblue;
  color: rgb(40, 53, 59);
  font-size: 60pt;
  text-align: center;
}

main {
  background-color: antiquewhite;
  padding: 0 20px 20px 20px;
}

img {
  width: 300px;
  height: 300px;
}
h2 {
  color: #0d478d;
  font-size: 30pt;
}

p {
  padding-left: 20px;
}

h3 {
  color: #008cff;
  font-size: 20pt;
}
ol {
  margin-left: 50px;
  list-style-type: decimal;
}

ul {
  margin-left: 50px;
  list-style-type: circle;
}

footer {
  background-color: #ffbb00;
  color: black;
  text-align: center;
  bottom: 0px;
  width: 100%;
}
