/* 
*  border: 1px solid black;
} { */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 2;
  background: lightcoral;
}

header {
  background-color: cadetblue;
  max-width: 960px ;
  margin: 10px auto 10px;
}

h1 {
  color: rgb(40, 53, 59);
  font-size: 5em;
  text-align: center;
}

main {
  background-color: beige;
  padding: 20px 20px 20px 20px;
}


h2 {
  color: #0d478d;
  font-size: 3em;
  max-height: 80px;
  border-bottom: 2px solid black;
}

p {
  font-size: 1.25em;
  margin-left: 20px;
}

h3 {
  color: #008cff;
  font-size: 2em;
}

#goals {
  color: #0d478d;
  font-size: 2em;
  max-height: 50px;
  border-bottom: 2px solid black;
}

#bioimgsection {
  text-align: center;
}

#headshot {
  max-width: 400px;
}

#summary {
  max-width: 960px;
  margin: 0 auto;
}


section div.ulcontainer {
  margin: 10px auto 10px;
  max-width: 960px;
  overflow: hidden;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

section div.education {
  float: left;
  width: 50%;
  padding-left: 120px;
}

section div.job {
  float: left;
  width: 50%;
  padding-left: 120px;
}

ul li {
  margin-left: 50px;
  font-size: 1.25em;
  list-style-type: circle;
}

ol li {
  margin-left: 50px;
  font-size: 1.25em;
  list-style-type: decimal;
}

#candy {
  margin-right: 20px;
  padding-left: 20px;
  max-width: 960px;
  margin: 0 auto 0px;
}

  footer {
    background-color: #ffbb00;
    color: black;
    font-size: 2em;
    text-align: center;
    bottom: 0px;
    width: 100%;
  