/* 
*  border: 1px solid black;
} { */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 2;
  padding: 20px;
  background: #ccc;
}

header {
  background-color: lightblue;
  color: rgb(40, 53, 59);
  font-size: 60pt;
  text-align: center;
}

#goals {
  color: #0d478d;
  font-size: 20pt;
}

main {
  background-color: antiquewhite;
  padding: 0 20px 20px 20px;
}

section > img {
  width: 300px;
  height: 300px;
  padding: 20px;
}

section#headshot {
  text-align: center;
}

section#biosection {
  margin-right: 20px;
  padding-left: 20px;
  border: 20px color black;
}

h2 {
  color: #0d478d;
  font-size: 30pt;
}

p {
  padding-left: 20px;
}

h3 {
  color: #008cff;
  font-size: 20pt;
}

section div.ulcontainer {
  margin: auto;
  width: 80%;
  overflow: hidden;
}

section div.education {
  float: left;
  width: 50%;
}

section div.job {
  float: left;
  width: 50%;
}

ul li {
  margin-left: 50px;
  list-style-type: circle;
}

ol li {
  margin-left: 50px;
  list-style-type: decimal;
}

section#candy {
  margin-right: 20px;
  padding-left: 20px;
  border: 20px color black;
}
footer {
  background-color: #ffbb00;
  color: black;
  text-align: center;
  bottom: 0px;
  width: 100%;
}
